<!DOCTYPE html>
<html>
<head>
  <title><%= content_for(:title) || "Sebox" %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
  <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

  <link rel="icon" href="/icon.png" type="image/png">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/icon.png">

  <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body class="min-h-screen bg-gray-50 text-gray-900 font-sans">
<nav class="bg-white shadow p-4 flex items-center justify-between">
  <!-- Left: Home link -->
  <div>
    <%= link_to "Home", root_path, class: "text-blue-600 hover:underline font-medium" %>
  </div>

  <!-- Center: Site Title -->
  <div class="text-center">
    <h1 class="text-3xl font-bold text-gray-800">The Sebox Store</h1>
  </div>

  <!-- Right: Logout button -->
  <div>
    <% if authenticated? %>
      <%= button_to "Log out", session_path, method: :delete, class: "text-red-600 font-semibold hover:underline inline-block" %>
    <% else %>
      <!-- Else Show Log In Button -->
      <%= link_to "Sign In", new_session_path, class: "text-blue-600 font-semibold hover:underline inline-block" %>
  <% end %>
  </div>
</nav>


<% if notice.present? %>
  <div class="bg-green-100 text-green-800 p-3 text-sm text-center">
    <%= notice %>
  </div>
<% end %>

<main class="p-6 max-w-4xl mx-auto">
  <%= yield %>
</main>
</body>
</html>

